Wrong line separator

In the RFC for iCalendar it is required that the line ending is CR LF (\r\n), it should never be LF alone (\n).

This enhancement would help with the Safari compatibility as described in #27 and #13.
For full Safari support, the library would need to: 

- Make sure the line endings are CRLF.
- Make sure there are no empty lines above BEGIN:VCALENDAR
- Make sure the date format is ISO - but has dashes and semi-colons removed.

Right now it's set to make \r\n for windows only.  Can someone confirm if that's the desired behavior for all other calendars the consume the ics format?

According to [RFC 5545, section 3.1. "Content Lines"](https://tools.ietf.org/html/rfc5545#section-3.1), the line separator must be CRLF with no exception, never LF or CR alone.